body
{
    margin: 0;
    font-family: "Sour Gummy", sans-serif;;
}

header
{
    background-color: rgb(96, 169, 238);
    color: rgb(46, 94, 252);
    text-align: left;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Blocdenotas
{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 280%;
}

.navbar a
{
    font-size: 180%;
    color: white;
}

textarea
{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.boton
{
    background-color:  rgb(96, 169, 238);
    color: rgb(46, 94, 252);
    border: none;
    border-radius: 4px;
    padding: 13px;
    margin-left: 2%;
}

.h2
{
    color: rgb(46, 94, 252);
    margin-left: 2%;
}

.h3
{
    font-weight: 400;
    margin-left: 2%;
}