body
{
    margin: 0;
    font-family: "Sour Gummy", sans-serif;;
}

header
{
    background-color: rgb(65, 209, 209);
    color: white;
    text-align: left;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Blocdenotas
{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 280%;
}

.navbar a
{
    font-size: 180%;
    color: white;
}

.formulario
{
    
    padding: 20px;
}

.boton
{
    background-color: rgb(65, 209, 209);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 13px;
}